<div>
  <!--
  <td>{{personne.ID}}</td>
        <td>{{personne.Nom}}</td>
        <td>{{personne.Prenom}}</td>
        <td><input [(ngModel)]="personne.Age"></td>
        <td>
          <span [ngSwitch]="personne.Genre">
              <span *ngSwitchCase="'M'">Homme</span>
              <span *ngSwitchCase="'F'">Femme</span>
              <span *ngSwitchDefault>***</span>
            </span>
        </td>
        <td align="left">
          <span *ngIf="personne.Age > 65">A la retraite!</span>
          <span *ngIf="personne.Age > 30 && personne.Age < 65">Au boulot!</span>
          <span *ngIf="personne.Age <= 30">Ah... la jeunesse...</span>-->
  <p>ID de la personne : {{personne.ID}}</p>
  <p>Nom : {{personne.Nom}}</p>
  <p>Prenom : {{personne.Prenom}}</p>
  <div><input [(ngModel)]="personne.Age"></div>
  <div> Genre: 
    <span [ngSwitch]="personne.Genre">
      <span *ngSwitchCase="'M'">Homme</span>
      <span *ngSwitchCase="'F'">Femme</span>
      <span *ngSwitchDefault>***</span>
    </span>
  </div>
  <div>
    <span *ngIf="personne.Age > 65">A la retraite!</span>
    <span *ngIf="personne.Age > 30 && personne.Age < 65">Au boulot!</span>
    <span *ngIf="personne.Age <= 30">Ah... la jeunesse...</span>
  </div>
</div>
