<div class="card m-3">
  <h5 class="card-header">Contactez-nous</h5>
  <div class="card-body">
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <div class="form-row">
        <div class="form-group col">
          <label>Titre</label>
          <select formControlName="title" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.title.errors }">
            <option value=""></option>
            <option value="Mr">Mr</option>
            <option value="Mrs">Mrs</option>
            <option value="Miss">Miss</option>
            <option value="Ms">Ms</option>
          </select>
          <div *ngIf="submitted && f.title.errors" class="invalid-feedback">
            <div *ngIf="f.title.errors.required">Le titre est obligatoire</div>
          </div>
        </div>
          <div class="form-group col-5">
            <label>Prénom</label>
            <input type="text" formControlName="firstName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
            <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
              <div *ngIf="f.firstName.errors.required">Le prénom est obligatoire</div>
            </div>
          </div>
          <div class="form-group col-5">
            <label>Nom</label>
            <input type="text" formControlName="lastName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
            <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
              <div *ngIf="f.lastName.errors.required">Le nom est obligatoire</div>
            </div>
          </div>
      </div>
      <div class="form-group">
        <label>Email</label>
        <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
          <div *ngIf="f.email.errors.required">Email est obligatoire</div>
          <div *ngIf="f.email.errors.email">L'email n'est pas renseigné correctement</div>
        </div>
      </div>
      <div class="form-group">
        <label>Message</label>
        <textarea formControlName="message" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.message.errors}"></textarea>
        <i class="pull-right">{{200 - f.message.value.length > 0 ? 200 - f.message.value.length + ' caractères restants' : ''}}</i>
        <div *ngIf="submitted && f.message.errors" class="invalid-feedback">
          <div *ngIf="f.message.errors.required">Le message est obligatoire</div>
          <div *ngIf="f.message.errors.minlength">Le message doit contenir au moins 50 caractères</div>
          <div *ngIf="f.message.errors.maxlength">Le message ne peut pas être plus long que 200 caractères</div>
        </div>
      </div>
      <div class="text-center">
        <button class="btn btn-primary mr-1">Envoyer</button>
        <button class="btn btn-secondary" type="reset" (click)="onReset()">Annuler</button>
      </div>
    </form>
  </div>
</div>